# frontend
VITE_API_URL=https://team-messaging-platform-production.up.railway.app

# backend
APP_URL=https://team-messaging-platform-production.up.railway.app/
CLIENT_URL=https://teams-messaging-client.vercel.app/